// COLOR

$nav : #2D2D2D;
$navYellow : #FFE59A;
$heroBannerBg: #6EC8C7;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}